* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #F9FAFC;
  background-image: url("/assets/home-bg.png");
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
}

button {
  outline: none;
  border: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.header-wrapper {
  padding: 16px 0;
  display: flex;
  align-items: center;
}
.header-wrapper .logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-wrapper .logo-link img {
  width: 48px;
}
.header-wrapper .logo-link label {
  margin-left: 12px;
  color: #0F172B;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-wrapper {
  display: flex;
  min-height: 200px;
  padding-bottom: 40px;
}
.hero-wrapper .hero-title {
  width: 50%;
  padding-right: 50px;
  margin-top: 64px;
}
.hero-wrapper .hero-upload {
  width: 50%;
}

.hero-title h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #0F172B;
  max-width: 420px;
}
.hero-title h1 span {
  color: #2569FC;
}

.dropbox {
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
}

.dropbox-inner {
  background: #F9FAFC;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23C9C9C9' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.dropbox-icon img {
  width: 100px;
  height: auto;
}

.dropbox-text {
  margin-top: 16px;
  text-align: center;
}
.dropbox-text .title {
  font-size: 22px;
  font-weight: 600;
  color: #0F172B;
  margin-bottom: 0;
}
.dropbox-text .or {
  font-size: 14px;
  font-weight: 400;
  color: #0F172B;
  margin-bottom: 8px;
  margin-top: 0;
}
.dropbox-text button {
  background: #0F172B;
  border-radius: 8px;
  height: 40px;
  vertical-align: middle;
  padding: 0 32px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
.dropbox-text .max-info {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 0;
}

.compression-settings {
  background: #fff;
  margin-top: 16px;
  border-radius: 8px;
}
.compression-settings .uk-accordion {
  margin-bottom: 0;
}
.compression-settings .uk-accordion-title {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #0F172B;
}
.compression-settings .uk-accordion-title:hover {
  color: #0F172B;
}
.compression-settings .uk-accordion-content {
  margin-top: 0;
  padding: 12px 16px;
  border-top: 1px solid #efefef;
}
.compression-settings .uk-accordion-content .uk-radio:checked {
  background-color: #0F172B;
}
.compression-settings .uk-accordion-content .uk-radio {
  width: 20px;
  height: 20px;
  background-size: 40px;
  margin-right: 12px;
}
.compression-settings .uk-accordion-content .radio-group {
  width: 200px;
}
.compression-settings .uk-accordion-content .radio-group label {
  font-size: 16px;
  color: #0F172B;
  margin-bottom: 12px;
  display: block;
}
.compression-settings .uk-accordion-content .radio-group label:last-child {
  margin-bottom: 0;
}
.compression-settings .uk-accordion-content .radio-group br {
  display: none;
}

.compression-quantity {
  display: flex;
  align-items: center;
  width: 100%;
}

.advance-setting-wrap {
  width: calc(100% - 200px);
}

.compression-quantity-slider .slider-wrapper {
  position: relative;
  border-radius: 20px;
}
.compression-quantity-slider .slider-wrapper input {
  width: 100%;
}
.compression-quantity-slider .ui-widget-header {
  background: #155DFC;
  border-radius: 20px;
}
.compression-quantity-slider .ui-widget.ui-widget-content {
  border: 0;
  background: #EFEFEF;
  border-radius: 20px;
}
.compression-quantity-slider #compression-q-label {
  top: -28px;
  padding: 0 12px;
  width: auto;
  height: 20px;
  transform: translateX(-24px);
  background: #1E1E1E;
  color: #fff;
  border: 0;
  font-size: 14px;
  min-width: 60px;
  text-align: center;
}
.compression-quantity-slider #compression-q-label::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1E1E1E transparent transparent transparent;
}

.compress-resize {
  margin-top: 24px;
}

/*# sourceMappingURL=app.css.map */
